#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

img {
  width: 650px;
}

#mood-btns button:focus {
  color: white;
}

#happy-btn button:hover {
  background-color: rgb(73, 40, 0);
}

#happy-btn button:focus {
  background-color: darkorange;
}

#sleepy-btn button:hover {
  background-color: rgb(0, 32, 73);
}

#sleepy-btn button:focus {
  background-color: blue;
}

#focused-btn button:hover {
  background-color: rgb(0, 59, 13);
}

#focused-btn button:focus {
  background-color: green;
}

#energetic-btn button:hover {
  background-color: rgb(73, 0, 67);
}

#energetic-btn button:focus {
  background-color: magenta;
}

#goofy-btn button:hover {
  background-color: rgb(73, 0, 0);
}

#goofy-btn button:focus {
  background-color: red;
}

.btn-group {
  width: 100%;
}

.btn-group button {
  background-color: black;
  /*border: 1px solid white;*/
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: '';
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #505050;
}

.btn-group button:focus {
  background-color: white;
  color: black;
  outline: 0;
}

.toggleable-content {
  display: none;
}

.toggleable-content img {
  width: 650px;
}

#about-btns button {
  width: 33.3%;
}

#mood-btns button {
  width: 20%;
}
